.App {
  text-align: center;
  background-color: rgba(163, 151, 14, 0.242);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.jumbotron.hovered h1 {
  transform: scale(1.4); /* Puoi regolare la scala come preferisci */
  transition: transform 0.4s ease; /* Durata e tipo di transizione */
}

#carta{
  background-color: rgba(253, 97, 0, 0.113)
}

.jumbotron.hovered h1, .card.hovered {
  transform: scale(1.4); /* Puoi regolare la scala come preferisci */
  transition: transform 0.4s ease; /* Durata e tipo di transizione */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
